{% extends 'base.html' %}

{% block content %}

<body style="background-color:white">
  <br/><br/>
  <div class="mobile_message">
    <h1 style="text-align: center;">Oops, your screen is too small!</h1><br/>
    <div class="w3-panel w3-pale-red w3-border" style="text-align: center;">
        <h4>ROBUST-Web only runs on screens bigger than 768px in width.</h4>
    </div><br/>
  </div>

    <div class="card-title" style="width:80%; margin-top:0; text-align:center; margin:auto; background-color:white">

        <br/>

      <h1 style="padding-bottom: 15px; padding-top:10px; text-align: center;">Online bias-aware disease module mining with
        ROBUST-Web</h1><br/><br/>

      <!--iframe class="video-1251-to-above" width="1000" height="600px" src="https://www.youtube.com/embed/XeMU9CfHZc0" frameborder="0" allowfullscreen></iframe></iframe-->
      <!-- <iframe class="video-1251-to-above" width="1000px" height="600px" src="https://www.youtube.com/embed/XeMU9CfHZc0" frameborder="0" allowfullscreen></iframe></iframe>
      <iframe class="video-1001-to-1250" width="800px" height="600px" src="https://www.youtube.com/embed/XeMU9CfHZc0" frameborder="0" allowfullscreen></iframe></iframe>
      <iframe class="video-861-to-1000" width="700px" height="600px" src="https://www.youtube.com/embed/XeMU9CfHZc0" frameborder="0" allowfullscreen></iframe></iframe>
      <iframe class="video-769-to-860" width="600px" height="600px" src="https://www.youtube.com/embed/XeMU9CfHZc0" frameborder="0" allowfullscreen></iframe></iframe> -->

    <video controls width="1200px" height="600px">
        <source src="static/videos/robust-web-final-demo-video-after-review.mp4" type="video/mp4">
    </video>
      
        <br/><br/><br/><br/>

    </div><br/>

    <div class="goto_RunRobust_div" style="width:80%; margin-top:0; text-align:center; margin:auto;">
        <!-- <a href="/run_robust" class="btn btn-primary" id="goto_RunRobust">Run ROBUST</a> -->
        <a href="/run_robust">
            <input type="submit" class="run-robust-button" value="Start app">
        </a>
    </div>

    <br/><br/><br/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    

<!--/div-->

</body>
{% endblock %}


<!--/html-->