{% extends 'base.html' %}

{% block content %}

<body style="background-color:white">
  <br/><br/>
  <div class="mobile_message">
    <h1 style="text-align: center;">Oops, your screen is too small!</h1><br/>
    <div class="w3-panel w3-pale-red w3-border" style="text-align: center;">
        <h4>ROBUST-Web only runs on screens bigger than 768px in width.</h4>
    </div><br/>
  </div>


  <br/><br/>
  <div class="mobile_message">
    <h1 style="text-align: center;">Oops, your screen is too small!</h1><br/>
    <div class="w3-panel w3-pale-red w3-border" style="text-align: center;">
        <h4>ROBUST-Web only runs on screens bigger than 768px in width.</h4>
    </div><br/>
  </div>
<div class="card-title" style="text-align:left; padding-left: 50px; padding-right: 60px; width:80%; margin-top:0; margin:auto; background-color:white;">
  <br/>
  <b id="robust" style="font-size: 1.5rem; padding-top:48px; margin-top:48px; font-size: 30px">ROBUST</b>
  <div style="height: .85rem"></div>
    <div style="text-align: justify; margin-top: 0px; margin-bottom: 0px; font-size: large;">
      <p>
        ROBUST-Web is a user-friendly web implementation of the ROBUST disease module mining algorithm, with additional options to improve robustness by making use of study bias data. Taking advantage of the Drugst.One interface, ROBUST-Web supports further exploration of discovered targets via integrated gene set enrichment analysis, tissue expression annotations, and drug- protein, drug-disease, and disease-gene associations.
      </p>
    </div><br/>
  
  <b id="parameters" style="font-size: 1.5rem; padding-top:48px; font-size: 30px">Availability</b>
  <div style="height: .85rem"></div>
    <div style="text-align: justify; margin-top: 0px; margin-bottom: 0px; font-size: large;">
            <!--li><b>seeds:</b> File (.xlsx, .csv or .txt only), or direct textfield upload of list of seeds separated by newline. (Download example seed file here)</li-->
            <p>The ROBUST-Web application can be accessed at: <a target="_blank" href="https://robust-web.net">https://robust-web.net</a></p>
    </div><br/>
  
  <b id="parameters" style="font-size: 1.5rem; padding-top:48px; font-size: 30px">Source code</b>
  <div style="height: .85rem"></div>
    <div style="text-align: justify; margin-top: 0px; margin-bottom: 0px; font-size: large;">
      <li><b>Web application: </b><a target="_blank" href="https://github.com/bionetslab/robust-web">https://github.com/bionetslab/robust-web</a></li>
      <li><b>Python package with new bias-aware edge costs: </b><a target="_blank" href="https://github.com/bionetslab/robust_bias_aware">https://github.com/bionetslab/robust_bias_aware</a></li>
    </div><br/>
  
  <b id="parameters" style="font-size: 1.5rem; padding-top:48px; font-size: 30px">Contact</b>
  <div style="height: .85rem"></div>
    <div style="text-align: justify; margin-top: 0px; margin-bottom: 0px; font-size: large;">  
      <div>&#x2709;&nbsp;&nbsp;suryadipto.sarkar(_at-]fau.de</div>
      <div>&#x2709;&nbsp;&nbsp;david.b.blumenthal(_at-]fau.de</div>
    </div><br/>
  
  <b id="parameters" style="font-size: 1.5rem; padding-top:48px; font-size: 30px">Funding</b>
  <div style="height: .85rem"></div>
    <div style="text-align: justify; margin-top: 0px; margin-bottom: 0px; font-size: large;">
            <p>This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement no. 777111 (A.M., J.B.).</p>
    </div><br/>
  
  <b id="parameters" style="font-size: 1.5rem; padding-top:48px; font-size: 30px">Cite</b>
  <div style="height: .85rem"></div>
    <div style="text-align: justify; margin-top: 0px; margin-bottom: 0px; font-size: large;">
            <p>Judith Bernett, Dominik Krupke, Sepideh Sadegh, Jan Baumbach, Sándor P Fekete, Tim Kacprowski, Markus List, David B Blumenthal, Robust disease module mining via enumeration of diverse prize-collecting Steiner trees, <i>Bioinformatics</i>, Volume 38, Issue 6, 15 March 2022, Pages 1600–1606, <a href="https://doi.org/10.1093/bioinformatics/btab876">https://doi.org/10.1093/bioinformatics/btab876</a>.</p>
    </div><br/>
  
  <b id="parameters" style="font-size: 1.5rem; padding-top:48px; font-size: 30px; justify-content: center; display: flex;">Impressum</b>
  <div style="height: .85rem"></div>
    <div style="text-align: justify; margin-top: 0px; margin-bottom: 0px; font-size: large;">
      <span style="justify-content: center; display: flex;">Prof. Dr. Jan Baumbach</span>
      <span style="justify-content: center; display: flex;">Chair of Computational Systems Biology</span>
      <div style="height: .85rem"></div>
      <span style="justify-content: center; display: flex;">Phone: +49-40-42838-7313</span>
      <span style="justify-content: center; display: flex;">E-Mail: <a>cosy(_at-]zbh.uni-hamburg.de</a></span>
      <span style="justify-content: center; display: flex;">Address: Prof. Dr. Jan Baumbach</span>
      <span style="justify-content: center; display: flex;">University of Hamburg</span>
      <span style="justify-content: center; display: flex;">Notkestraße 9</span>
      <span style="justify-content: center; display: flex;">22607 Hamburg</span>
      <span style="justify-content: center; display: flex;">Germany</span>
    </div><br/>
</div><br/><br/>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>
{% endblock %}