{% extends 'base.html' %}

{% block content %}

<!--First, at the top of the page we need to implement this functionality (only for run_robust):-->
<!--Page reload as soon as user navigates to 'run_robust' page using the back navigation (either BUTTON or CHROME BACK select).-->
<!--Becuse we do not want to see the previous settings on the new page, but the default settings instead.-->

<script>
// // Old code (uncomment if the other one does not work perfectly):
//   window.addEventListener( "pageshow", function ( event ) {
//   var historyTraversal = event.persisted || 
//                          ( typeof window.performance != "undefined" && 
//                               window.performance.navigation.type === 2 );
//   if ( historyTraversal ) {
//     // Handle page restore.
//     window.location.reload();
//   }
// });

// // New code (this works well):
var perfEntries = performance.getEntriesByType("navigation");
if (perfEntries[0].type === "back_forward") {
    location.reload(true);
}
</script>

<body style="background-color:white">
  <br/><br/>
  <div class="mobile_message">
    <h1 style="text-align: center;">Oops, your screen is too small!</h1><br/>
    <div class="w3-panel w3-pale-red w3-border" style="text-align: center;">
        <h4>ROBUST-Web only runs on screens bigger than 768px in width.</h4>
    </div><br/>
  </div>
  

  {% if error %}
    <script>
      alert("{{error}}");
    </script>
  {% endif %}
  
  
  <div class="card-title" style="width:80%; margin-top:0; text-align:center; margin:auto; background-color:white;">

    <!--------------------------------------------------------------------------- Form: ------------------------------------------------------------------>
    <form action="/results" method="POST" style="align-items:center;">    <!-- input form begins -->

      <h2>Select network and seeds</h2><br/><br/><br>

      

      <br><br><br>

            <div>
                  <label>
                    <input name="inputfile_seeds" id="inputfile_seeds" type="file" onchange="setfilename_custom(this.value);" style="display:none; width: 0px;"/>
                    <i class="upload-button"><span>Upload seeds</span></i>
                  </label><br><br>
                  <textarea id="textbox_seeds" name="textbox_seeds" style="width:300px;height:150px;"></textarea> 
            </div>
            
            <div class="help-upload-seeds-round-button-dropdown-769-to-860 seeds-textbox-help-popover">
              <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Seeds are the set of nodes or endpoints that ROBUST takes as input, and connects the discovered nodes to. Seeds are specific to a disease. Clicking on 'Set example' button populates the default seeds for COVID-19. Space- or newline-separated data is accepted.">&#63;</div>
            </div>
            <div class="help-upload-seeds-round-button-dropdown-861-to-930 seeds-textbox-help-popover">
              <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Seeds are the set of nodes or endpoints that ROBUST takes as input, and connects the discovered nodes to. Seeds are specific to a disease. Clicking on 'Set example' button populates the default seeds for COVID-19. Space- or newline-separated data is accepted.">&#63;</div>
            </div>
            <div class="help-upload-seeds-round-button-dropdown-931-to-1000 seeds-textbox-help-popover">
              <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Seeds are the set of nodes or endpoints that ROBUST takes as input, and connects the discovered nodes to. Seeds are specific to a disease. Clicking on 'Set example' button populates the default seeds for COVID-19. Space- or newline-separated data is accepted.">&#63;</div>
            </div>
            <div class="help-upload-seeds-round-button-dropdown-1001-to-1150 seeds-textbox-help-popover">
              <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Seeds are the set of nodes or endpoints that ROBUST takes as input, and connects the discovered nodes to. Seeds are specific to a disease. Clicking on 'Set example' button populates the default seeds for COVID-19. Space- or newline-separated data is accepted.">&#63;</div>
            </div>
            <div class="help-upload-seeds-round-button-dropdown-1151-to-1250 seeds-textbox-help-popover">
              <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Seeds are the set of nodes or endpoints that ROBUST takes as input, and connects the discovered nodes to. Seeds are specific to a disease. Clicking on 'Set example' button populates the default seeds for COVID-19. Space- or newline-separated data is accepted.">&#63;</div>
            </div>
            <div class="help-upload-seeds-round-button-dropdown-1251-to-1400 seeds-textbox-help-popover">
              <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Seeds are the set of nodes or endpoints that ROBUST takes as input, and connects the discovered nodes to. Seeds are specific to a disease. Clicking on 'Set example' button populates the default seeds for COVID-19. Space- or newline-separated data is accepted.">&#63;</div>
            </div>
            <div class="help-upload-seeds-round-button-dropdown-1401-to-1550 seeds-textbox-help-popover">
              <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Seeds are the set of nodes or endpoints that ROBUST takes as input, and connects the discovered nodes to. Seeds are specific to a disease. Clicking on 'Set example' button populates the default seeds for COVID-19. Space- or newline-separated data is accepted.">&#63;</div>
            </div>
            <div class="help-upload-seeds-round-button-dropdown-1551-to-1700 seeds-textbox-help-popover">
              <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Seeds are the set of nodes or endpoints that ROBUST takes as input, and connects the discovered nodes to. Seeds are specific to a disease. Clicking on 'Set example' button populates the default seeds for COVID-19. Space- or newline-separated data is accepted.">&#63;</div>
            </div>
            <div class="help-upload-seeds-round-button-dropdown-1701-to-above seeds-textbox-help-popover">
              <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Seeds are the set of nodes or endpoints that ROBUST takes as input, and connects the discovered nodes to. Seeds are specific to a disease. Clicking on 'Set example' button populates the default seeds for COVID-19. Space- or newline-separated data is accepted.">&#63;</div>
            </div>

            
            
            <div>
              <p style="text-align:left; padding-left:550px;padding-right:525px;"><span id="dots"></span><span id="more">Seeds are the set of nodes or endpoints that ROBUST takes as input, and connects the discovered nodes to. Seeds are specific to a disease. Clicking on 'Set example' button populates the default seeds for <b>COVID-19</b>.</span></p>
              <!-- <i >Read more</i> -->
              <!--i style="cursor: pointer; font-style: normal; color:blue" onclick="myFunction()" id="myBtn" type="button"><span>Read more</span></i-->
            </div>

            <!---- PPI network: -->
            <div class="div_optional_parameters_first-div">
              <br/>
              
              <div class="wrapper-radio">
                <input name="network_selection" type="radio" id='inBuiltNetwork' value="Yes" checked="checked" onclick="show1();">
                <input name="network_selection" type="radio" id='uploadNetwork' value="No" onclick="show2();">
                <label for="inBuiltNetwork" class="option inBuiltNetwork"><div class="dot"></div><span>Use built-in network</span></label>
                <label for="uploadNetwork" class="option uploadNetwork"><div class="dot"></div><span>Upload custom network</span></label>    
              </div>  

              <br/><br/><br/>

  
            <script>
              $(document).ready(function() {
      $("input[name$='network_selection']").click(function() {
          var test = $(this).val();
          $("div.desc_").hide();
          // $("#provided-network-selection").hide();
          if (test=='Yes'){
            $("#provided-network-selection").show();
            $("#div_upload_custom_ppi_network").hide();
          }
          else{
            $("#provided-network-selection").hide();
            $("#div_upload_custom_ppi_network").show();
          }
      });
  });









  

  function download_values_case_study(){
    var dropdown = document.getElementById("download_case_study_data");
    var selection = dropdown.value;
    // console.log(selection);
    // var emailTextBox = document.getElementById("textbox_seeds");
    // emailTextBox.value = selection;

    //var btn = document.querySelector('#select');

    if (selection=='COVID-19') {
              // $("#hidden_div_normalizeBy_custom2").trigger('click')
            document.getElementById("hidden_div_normalizeBy_custom2")[0].click();
            // document.getElementById("hidden_div_normalizeBy_custom2").click();
              // $("#hidden_div_normalizeBy_custom2").selected();
            // document.getElementById("alpha").value=0.25;
            // document.getElementById("alpha_slider").value=0.25;
            // document.getElementById("beta").value=0.9;
            // document.getElementById("beta_slider").value=0.9;
            // document.getElementById("n").value=30;
            // document.getElementById("tau").value=0.1;
            // document.getElementById("tau_slider").value=0.1;
            // document.getElementById("gamma").value=1.00;
            // document.getElementById("gamma_slider").value=1.00;
            // document.getElementById("textbox_seeds").value = 'TLR4 NLRP3 MBL2 IL6 IL1RN IL1B CX3CR1 CCR5 AGT ACE F2';
            // document.getElementById("selectOne_NodeNamespace").value = 0
            // document.getElementById("selectOne_Normalize").value=1
            // document.getElementById("inbuilt_network_selection").value=0
} else {
            document.getElementById("alpha").value=0.25;
            document.getElementById("alpha_slider").value=0.25;
            document.getElementById("beta").value=0.9;
            document.getElementById("beta_slider").value=0.9;
            document.getElementById("n").value=30;
            document.getElementById("tau").value=0.1;
            document.getElementById("tau_slider").value=0.1;
            document.getElementById("gamma").value=1.00;
            document.getElementById("gamma_slider").value=1.00;
            document.getElementById("textbox_seeds").value = 'P63092 P35354 P01229 P01148 Q5JWF2 P84996 O95467 P05019';
            document.getElementById("selectOne_NodeNamespace").value = 3
            document.getElementById("selectOne_Normalize").value=1
            document.getElementById("inbuilt_network_selection").value=0
}
            

  }









  document.getElementById('download_case_study_data').addEventListener('click', function(){
  if(this.checked)
    document.getElementById('hidden_div_normalizeBy_custom2').click();
});










            </script>


<!-- // <p>How many check boxes do you want when clicked on a radio button?</p>
 <input type="radio" name="tab" value="igotnone" onclick="show1();" />
 None
 <input type="radio" name="tab" value="igottwo" onclick="show2();" />
 Two
 <div id="div1" class="hide">
   <hr><p>Okay Cool! Here are those two...</p>
 <input type="checkbox" value="Yes" name="one">
 One &nbsp;
 <input type="checkbox" value="Yes" name="two">
 Two
 </div> -->

 <script>
// function show1(){
//   document.getElementById('div1').style.display ='none';
// }
// function show2(){
//   document.getElementById('div1').style.display = 'block';
// }
 </script>

                
              <!------>

              <!--div  name="horizontal div_select_inbuilt_ppi_network" id="div_select_inbuilt_ppi_network" disabled="disabled" class="Yes box"--> 
                <!------>
              
<div class="horizontal">
                   
                  <div class="field-wrapper desc_" id="provided-network-selection">
                    <div class="vertical">
                            <div>
                              <label class="dropdown-div" for="namespace">PPI network</label>
                            </div>
                            <div class="horizontal">
                                  <div class="param-div">
                                  <!----><!--label style="align-items:center;">PPI network</label--><!---->
                                        <select  name="inbuilt_network_selection" id="inbuilt_network_selection">
                                                  <option value="0">BioGRID</option>
                                                  <option value="1">APID</option>
                                                  <option value="2">STRING</option>
                                        </select>
                                        <div class="help-dropdown-input study-bias-popover">
                                          <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="The three built-in PPI networks are: BioGRID, APID and STRING.">&#63;</div>
                                        </div>
                                  </div>
                            </div>
                          </div>
                    </div>
                  


                    <!-- <div class="field-wrapper">
                      <div class="vertical">
                              <div>
                                <label class="dropdown-div">PPI network</label>
                              </div>
                              <div class="horizontal">
                                  <div class="param-div">
                                      <div>
                                        <select class="optional-params-dropdown-style" id="selectOne_NodeNamespace" aria-describedby="namespace" placeholder="namespace" name="namespace">
                                          <option value="0">Gene symbol</option>
                                          <option value="1">UNIPROT protein ID</option>
                                          <option value="2">ENTREZ gene ID</option>
                                          <option value="3">ENSEMBL gene ID</option>
                                        </select>
                                      </div>
                                      <div class="help-dropdown-input study-bias-popover">
                                        <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="The supported namespaces are: Gene symbol, UNIPROT protein id, ENTREZ gene id and ENSEMBL id. Nodes and seeds are expected to be in the same namespace.">&#63;</div>
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div> -->

  
              
                <div class="field-wrapper">
                      <div class="vertical">
                              <div>
                                <label class="dropdown-div" for="namespace">Node namespace</label>
                              </div>
                              <div class="horizontal">
                                  <div class="param-div">
                                      <div>
                                        <select class="optional-params-dropdown-style" id="selectOne_NodeNamespace" aria-describedby="namespace" placeholder="namespace" name="namespace">
                                          <option value="0">Gene symbol</option>
                                          <option value="1">ENTREZ gene ID</option>
                                          <option value="2">ENSEMBL gene ID</option>
                                          <option value="3">UNIPROT protein ID</option>
                                        </select>
                                      </div>
                                      <div class="help-dropdown-input study-bias-popover">
                                        <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="The supported namespaces are: Gene symbol, UNIPROT protein id, ENTREZ gene id and ENSEMBL id. Nodes and seeds are expected to be in the same namespace.">&#63;</div>
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              
  
  
  </div>




              <div name="div_upload_custom_ppi_network" id="div_upload_custom_ppi_network" disabled="disabled" class="No box desc_">     
                <br/><br/><br/><br/>
                <label>
                  <input name="uploaded_ppi_network_filename" id="uploaded_ppi_network_filename" type="file" style="display:none; width: 0px;"/>
                  <i class="upload-button"><span>Upload network</span></i>
                </label><br><br>
                <textarea name="network_contents" id="network_contents" style="width:300px;height:150px;"></textarea>
                <!-- <div class="help-upload-network-round-button-dropdown">
                  <div class="help-dropdown" data-toggle="tooltip" data-placement="top" title="space-separated edgelist with at least 2 columns">&#63;</div>
                </div> -->
                <div class="help-upload-network-round-button-dropdown-769-to-860 upload-network-popover">
                  <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="A space-separated edgelist with at least 2 columns, and at least one element in the first two columns (excluding the column header), is accepted. Graphml is also accepted.">&#63;</div>
                </div>
        
                <div class="help-upload-network-round-button-dropdown-861-to-930 upload-network-popover">
                  <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="A space-separated edgelist with at least 2 columns, and at least one element in the first two columns (excluding the column header), is accepted. Graphml is also accepted.">&#63;</div>
                </div>
        
                <div class="help-upload-network-round-button-dropdown-931-to-1000 upload-network-popover">
                  <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="A space-separated edgelist with at least 2 columns, and at least one element in the first two columns (excluding the column header), is accepted. Graphml is also accepted.">&#63;</div>
                </div>
        
                <div class="help-upload-network-round-button-dropdown-1001-to-1150 upload-network-popover">
                  <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="A space-separated edgelist with at least 2 columns, and at least one element in the first two columns (excluding the column header), is accepted. Graphml is also accepted.">&#63;</div>
                </div>
        
                <div class="help-upload-network-round-button-dropdown-1151-to-1250 upload-network-popover">
                  <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="A space-separated edgelist with at least 2 columns, and at least one element in the first two columns (excluding the column header), is accepted. Graphml is also accepted.">&#63;</div>
                </div>
        
                <div class="help-upload-network-round-button-dropdown-1251-to-1400 upload-network-popover">
                  <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="A space-separated edgelist with at least 2 columns, and at least one element in the first two columns (excluding the column header), is accepted. Graphml is also accepted.">&#63;</div>
                </div>
        
                <div class="help-upload-network-round-button-dropdown-1401-to-1550 upload-network-popover">
                  <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="A space-separated edgelist with at least 2 columns, and at least one element in the first two columns (excluding the column header), is accepted. Graphml is also accepted.">&#63;</div>
                </div>
        
                <div class="help-upload-network-round-button-dropdown-1551-to-1700 upload-network-popover">
                  <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="A space-separated edgelist with at least 2 columns, and at least one element in the first two columns (excluding the column header), is accepted. Graphml is also accepted.">&#63;</div>
                </div>
        
                <div class="help-upload-network-round-button-dropdown-1701-to-above upload-network-popover">
                  <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="A space-separated edgelist with at least 2 columns, and at least one element in the first two columns (excluding the column header), is accepted. Graphml is also accepted.">&#63;</div>
                </div>
              </div>
              




              <br/><br/>
                  
            </div>  

<!------------------->
<!---##############-->
<!--div class="horizontal">

<div  name="horizontal">
  <div>
    <button id="reset_with_default_values" type="button" class="reset_with_default_values reset-button" onclick="resetValues()"><span>COVID-19 case study</span></button>
  </div>
  <div class="help-square-button-dropdown-1701-to-above set-seeds-help-popover">
    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Set default seeds for COVID-19.">&#63;</div>
  </div>
</div>

<div  name="horizontal">
  <div>
    <button id="reset_with_default_values_pp" type="button" class="reset_with_default_values reset-button" onclick="resetValues_pp()"><span>PP case study</span></button>
  </div>
  <div class="help-square-button-dropdown-1701-to-above set-seeds-help-popover">
    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Set default seeds for COVID-19.">&#63;</div>
  </div>
</div>

</div-->
  
  
  
  
  
  
  <!--div class="help-square-button-dropdown-769-to-860 set-seeds-help-popover">
    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Set default seeds for COVID-19.">&#63;</div>
  </div>

  <div class="help-square-button-dropdown-861-to-930 set-seeds-help-popover">
    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Set default seeds for COVID-19.">&#63;</div>
  </div>

  <div class="help-square-button-dropdown-931-to-1000 set-seeds-help-popover">
    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Set default seeds for COVID-19.">&#63;</div>
  </div>

  <div class="help-square-button-dropdown-1001-to-1150 set-seeds-help-popover">
    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Set default seeds for COVID-19.">&#63;</div>
  </div>

  <div class="help-square-button-dropdown-1151-to-1250 set-seeds-help-popover">
    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Set default seeds for COVID-19.">&#63;</div>
  </div>

  <div class="help-square-button-dropdown-1251-to-1400 set-seeds-help-popover">
    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Set default seeds for COVID-19.">&#63;</div>
  </div>

  <div class="help-square-button-dropdown-1401-to-1550 set-seeds-help-popover">
    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Set default seeds for COVID-19.">&#63;</div>
  </div>

  <div class="help-square-button-dropdown-1551-to-1700 set-seeds-help-popover">
    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Set default seeds for COVID-19.">&#63;</div>
  </div-->

  







  
<!----#############-->
<!------------------->
<!-- <input id="confirm" type="checkbox" /><label for="confirm">Label content</label> -->
<!------------------->
<!--details>
  <summary>Click here for optional parameters</summary-->
    <div class="wrap-collabsible">
      <input id="collapsible" class="toggle" type="checkbox"> 
      <label for="collapsible" class="lbl-toggle">Optional parameters</label>
      <div class="collapsible-content">
        <div class="content-inner">       
          

            <!------------------------------------------------------------------------------------------------------------------------>



               

<br/><br/><br/>

            <div><i>

                      <div class="horizontal div_optional_parameters" id="elements1">
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/>

                                <div class="field-wrapper">
                                  <div class="horizontal">
                                        
                                              <div class="vertical">
                                                              <div>
                                                                <label class="dropdown-div" for="normalize">Correct for study bias</label>
                                                              </div>
                                                              <div class="param-class">
                                                                <div>
                                                                  <select class="optional-params-dropdown-style" id="selectOne_Normalize" aria-describedby="normalize" placeholder="normalize" name="study_bias_score" onchange="showDiv('hidden_div_normalizeBy_custom', this)">
                                                                    <option value="0">No</option>
                                                                    <option value="1" selected>Via bait usage</option>
                                                                    <option value="2">Via study attention</option>
                                                                    <option value="3">Via custom</option>
                                                                  </select>
                                                                </div>
                                                                <div class="help-dropdown-input study-bias-popover">
                                                                  <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Select positive real numbers as bias aware edge costs for the deprioritization of hub nodes. Bait usage scores are used by default.">&#63;</div>
                                                                </div>
                                                              </div>
                                              </div>
                                        
                                              
                                        </div>
                                  </div>
                                  <br/><br/><br/><br/><br/><br/>
                                </div>  


                                
                                <div name="hidden_div_normalizeBy_custom" id="hidden_div_normalizeBy_custom" disabled="disabled" class="hidden_div_normalizeBy_custom">
                                  <label>
                                    <input name="inputfile_studybiasdata" id="inputfile_studybiasdata" type="file" onchange="setfilename_custom(this.value);" style="display:none; width: 0px;"/>
                                    <i class="upload-button"><span>Upload custom</span></i>
                                  </label><br><br>
                                  <textarea id="custom_studybiasdata_contents_textbox upload-custom-study-bias-data-popover" name="custom_studybiasdata_contents_textbox" style="width:300px;height:150px;"></textarea>
                                  <div class="help-upload-network-round-button-dropdown">
                                    <div class="help-dropdown" data-toggle="popover" data-placement="top" data-content="Upload your own bias-aware edge weights (positive real numbers only). Must comprise at least 2 space-separated columns: first columns for node names; second column for study bias scores. Third column onwards shall be ignored.">&#63;</div>
                                  </div>
                                </div>


            </i></div>


            <div class="vertical div_optional_parameters">

                    <div class="horizontal">
                      <div class="param_div">
                        <br/><br/>
                            <div>
                              <label>Initial fraction</label><br>
                              <input class='range__slider' id='alpha_slider' max='1.00' min='0.00' oninput='alpha.value=alpha_slider.value' type='range' value='0.25' step="0.01" aria-describedby="alpha_slider" placeholder="alpha" name="alpha_slider">
                              <input id="alpha" oninput='alpha_slider.value=alpha.value' required='' type='number' class="alpha" value='0.25' aria-describedby="alpha" name="alpha" max='1.00' min='0.00' step="0.01" pattern="^\d*(\.\d{0,2})?$"/>
                              <label alt='alpha = ?' placeholder='alpha'></label>
                              <br/>
                            </div>
                            <div class="help-number-input">
                              <div class="help-button" data-toggle="popover" data-placement="top" data-content="alpha is a measure of allowed diversion from the cheapest Steiner tree. Setting alpha = 0 only returns the best Steiner tree.">&#63;</div>
                            </div>
                      </div>

                      <div class="param_div">
                            <div>
                              <label>Reduction factor</label><br>
                              <input class='range__slider' id='beta_slider' max='1.00' min='0.00' oninput='beta.value=beta_slider.value' type='range' value='0.9' step="0.01" aria-describedby="beta_slider" placeholder="beta" name="beta_slider">
                              <input id="beta" oninput='beta_slider.value=beta.value' required='' type='number' value='0.9' aria-describedby="beta" name="beta" max='1.00' min='0.00' step="0.01" pattern="^\d*(\.\d{0,2})?$"/>
                              <label alt='beta = ?' placeholder='beta'></label>
                              <br/>
                            </div>
                            <div class="help-number-input beta-popover">
                              <div class="help-button" data-toggle="popover" data-placement="top" data-content="beta modifies the decrease of the values for integrating non-seeds into the trees. Setting beta = 0 will only give a value to a non-seed until its first appearance in one tree.">&#63;</div>
                            </div>
                      </div>
                      <div class="param_div">
                            <div>
                              <label>No. of Steiner trees</label><br>
                              <input id="n" required='' type='number' value='30' aria-describedby="n" name="n" pattern="^\d*(\.\d{0,2})?$"/>
                              <label alt='n = ?' placeholder='n'></label>
                              <br/>
                            </div>
                            <div class="help-number-input n-popover">
                              <div class="help-button" data-toggle="popover" data-placement="top" data-content="The desired number of trees controls the extent to which the disease module computed by ROBUST covers the space of all near-optimal generalized Steiner trees. Setting n to a rather large value is hence desirable but detrimental for the runtime.">&#63;</div>
                            </div>
                      </div>
                    </div>
                    
                    <div class="horizontal">
                      <div class="param_div">
                            <div>
                              <label>Threshold</label><br>
                              <input class='range__slider' id='tau_slider' max='1.00' min='0.00' oninput='tau.value=tau_slider.value' type='range' value='0.1' step="0.01" aria-describedby="tau_slider" placeholder="tau" name="tau_slider">
                              <input id="tau" oninput='tau_slider.value=tau.value' required='' type='number' value='0.1' aria-describedby="tau" name="tau" max='1.00' min='0.00' step="0.01" pattern="^\d*(\.\d{0,2})?$"/>
                              <label alt='tau = ?' placeholder='tau'></label>
                              <br/>
                            </div>
                            <div class="help-number-input tau-popover">
                              <div class="help-button" data-toggle="popover" data-placement="top" data-content="tau provides a tradeoff between robustness and explorativeness. The larger the value of tau, the more robust but less explorative the disease module computed by ROBUST.">&#63;</div>
                            </div>
                      </div>

                      <div class="param_div">
                            <div>
                              <label>Study bias data regulator</label><br>
                              <input class='range__slider' id='gamma_slider' max='1.00' min='0.00' oninput='gamma.value=gamma_slider.value' type='range' value='1.0' step="0.01" aria-describedby="gamma_slider" placeholder="gamma" name="gamma_slider">
                              <input id="gamma" oninput='gamma_slider.value=gamma.value' required='' type='number' value='1.00' aria-describedby="gamma" name="gamma" max='1.00' min='0.00' step="0.01" pattern="^\d*(\.\d{0,2})?$"/>
                              <label alt='gamma = ?' placeholder='gamma'></label>
                              <br/>
                            </div>
                            <div class="help-number-input gamma-popover">
                              <div class="help-button" data-toggle="popover" data-placement="top" data-content="gamma is a hyper-parameter that regulates to what degree bias aware edge costs are utilized. If set to gamma = 1, we fully leverage the information contained in the study bias data, while setting gamma = 0 renders the bias aware edge costs equivalent to the uniform costs used in the original version of ROBUST.">&#63;</div>
                            </div>
                      </div>

                    </div>
            </div>
</div></div><hr></div>

<br/>

<div class="field-wrapper">
  <div class="horizontal">
        
              <div class="vertical">
    <div>
      
                              
                              <div class="param-class horizontal">
                                
                                <div class="vertical">
                                  <div>
                                    <label class="dropdown-div-use-case-study" for="normalize">Use case study data</label>
                                  </div>
                                  <div>
                                    <!--select class="optional-params-dropdown-style" id="use_case_study_data" aria-describedby="normalize" placeholder="normalize" name="use_case_study_data" onchange="reset_values_case_study(); showDiv2('hidden_div_normalizeBy_custom2', 'hidden_div_normalizeBy_custom3', this)"-->
                                    <select class="optional-params-dropdown-style" id="use_case_study_data" aria-describedby="normalize" placeholder="normalize" name="use_case_study_data" onchange="reset_values_case_study();">
                                      <option value="" selected>Choose one (optional)</option>
                                      <option value="COVID-19">COVID-19</option>
                                      <option value="Precocious puberty">Precocious puberty</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="help-dropdown-input study-bias-popover">
                                  <div class="help-dropdown-case-study" data-toggle="popover" data-placement="top" data-content="Select case study data to reproduce results reported in the ROBUST-Web paper. The two built-in case studies are: COVID-19 and precocious puberty.">&#63;</div>
                                </div>
                              </div>
        



<div class="horizontal">
                <div>
                              
                              <div class="param-class horizontal">

                                      <div class="vertical"> 
                                          <div>
                                            <label class="dropdown-div-use-case-study" for="normalize">Download case study data</label>
                                          </div>
                                          <div>
                                            <!--select class="optional-params-dropdown-style" id="use_case_study_data" aria-describedby="normalize" placeholder="normalize" name="use_case_study_data" onchange="reset_values_case_study(); showDiv2('hidden_div_normalizeBy_custom2', 'hidden_div_normalizeBy_custom3', this)"-->
                                            <select class="optional-params-dropdown-style" id="download_case_study_data" aria-describedby="normalize" placeholder="normalize" name="use_case_study_data" onchange="showDiv2('hidden_div_normalizeBy_custom2', 'hidden_div_normalizeBy_custom3', this)">
                                              <option value="" selected>Choose one (optional)</option>
                                              <option value="COVID-19">COVID-19</option>
                                              <option value="Precocious puberty">Precocious puberty</option>
                                            </select>
                                          </div>
                                      </div>

                                <div class="help-dropdown-input study-bias-popover">
                                  <div class="help-dropdown-case-study" data-toggle="popover" data-placement="top" data-content="Download input data and parameters used for the results reported in the ROBUST-Web paper. Data and settings for COVID-19 and precocious puberty are available for download.">&#63;</div>
                                </div>
                              </div>
                </div>
                <div>
                  <!--div name="hidden_div_normalizeBy_custom" id="hidden_div_normalizeBy_custom2" disabled="disabled" class="hidden_div_normalizeBy_custom" style="display:none;">
                    <label>
                      <a href="https://drive.google.com/file/d/1aom0aQfMPFg5gI73FOO6ZOaztZYQQhgK/view?usp=sharing" download="example-input-data.zip" target="_blank" class="download-case-study-data-button"><span>Download</span></a>
                    </label>
                  </div>

                  <div name="hidden_div_normalizeBy_custom" id="hidden_div_normalizeBy_custom3" disabled="disabled" class="hidden_div_normalizeBy_custom" style="display:none;">
                    <label>
                      <a href="https://drive.google.com/file/d/1yyjXqutJCUNEMQ_szQhI3yxAfGZ6ar6v/view?usp=sharing" download="example-input-data.zip" target="_blank" class="download-case-study-data-button"><span>Download</span></a>
                    </label>
                  </div-->
                  <div name="hidden_div_normalizeBy_custom" id="hidden_div_normalizeBy_custom2" disabled="disabled" class="hidden_div_normalizeBy_custom" style="display:none;">
                    <label>
                      <a href="https://drive.google.com/file/d/1aom0aQfMPFg5gI73FOO6ZOaztZYQQhgK/view?usp=sharing" download="example-input-data.zip" target="_blank" class="download-case-study" title="Download COVID-19 input data."><span>&#xA71C;</span></a>
                    </label>
                  </div>

                  <div name="hidden_div_normalizeBy_custom" id="hidden_div_normalizeBy_custom3" disabled="disabled" class="hidden_div_normalizeBy_custom" style="display:none;">
                    <label>
                      <a href="https://drive.google.com/file/d/1yyjXqutJCUNEMQ_szQhI3yxAfGZ6ar6v/view?usp=sharing" download="example-input-data.zip" target="_blank" class="download-case-study" title="Download precocious puberty input data."><span>&#xA71C;</span></a>
                    </label>
                  </div>
                
                </div>
</div>
      </div>

                              
                              


<!--a href="https://drive.google.com/file/d/1a0StI9mRpXuOgQnfYMXZtPBY0oCbfsDa/view?usp=sharing" download="example-input-data.zip" target="_blank">Download COVID-19 data</a>
<a href="https://drive.google.com/file/d/1gnxg5vgMUCC-3kUTw46y-Lg0SHgIjbA4/view?usp=sharing" download="example-input-data.zip" target="_blank">Download PP data</a-->


              </div>

  </div>
</div>


<script>
  function reset_values_case_study(){
    var dropdown = document.getElementById("use_case_study_data");
    var selection = dropdown.value;
    console.log(selection);
    var emailTextBox = document.getElementById("textbox_seeds");
    emailTextBox.value = selection;

    if (selection=='COVID-19') {
            document.getElementById("alpha").value=0.25;
            document.getElementById("alpha_slider").value=0.25;
            document.getElementById("beta").value=0.9;
            document.getElementById("beta_slider").value=0.9;
            document.getElementById("n").value=30;
            document.getElementById("tau").value=0.1;
            document.getElementById("tau_slider").value=0.1;
            document.getElementById("gamma").value=1.00;
            document.getElementById("gamma_slider").value=1.00;
            document.getElementById("textbox_seeds").value = 'TLR4 NLRP3 MBL2 IL6 IL1RN IL1B CX3CR1 CCR5 AGT ACE F2';
            document.getElementById("selectOne_NodeNamespace").value = 0
            document.getElementById("selectOne_Normalize").value=1
            document.getElementById("inbuilt_network_selection").value=0
} else if (selection=='Precocious puberty') {
            document.getElementById("alpha").value=0.25;
            document.getElementById("alpha_slider").value=0.25;
            document.getElementById("beta").value=0.9;
            document.getElementById("beta_slider").value=0.9;
            document.getElementById("n").value=30;
            document.getElementById("tau").value=0.1;
            document.getElementById("tau_slider").value=0.1;
            document.getElementById("gamma").value=1.00;
            document.getElementById("gamma_slider").value=1.00;
            document.getElementById("textbox_seeds").value = 'P63092 P35354 P01229 P01148 Q5JWF2 P84996 O95467 P05019';
            document.getElementById("selectOne_NodeNamespace").value = 3
            document.getElementById("selectOne_Normalize").value=1
            document.getElementById("inbuilt_network_selection").value=0
}
            

  }
</script>

<style>
.border_{
      border:1px solid;
      height:250px;
      position:relative;
  }
  
  .border_ > h1{
      position:absolute;
      top:-34px;
      /*left:50%;*/
      /*left:500px;*/
      background:#fff;
      /*padding:0 0px;*/
      left:46%
  }
</style>


<!------------------------------------->


<br/><br/>
<div class="run-robust-div">
  <input id='myButton' type="submit" class="run-robust-button" value="Run ROBUST">
</div>

</form>


<!-------------------------- script_run_robust.js: --------------------------------->

<script type="text/javascript">



/* Hide 'Custom PPI network upload' hidden div on loading of page: */
$("#div_upload_custom_ppi_network").hide();
$(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
});
    
/* Upload or fill in seeds: */
document.getElementById('inputfile_seeds')
.addEventListener('change', function() {
var fr=new FileReader();
fr.onload=function(){
    document.getElementById('textbox_seeds')
            .textContent=fr.result;
}  
fr.readAsText(this.files[0]);
})



/* Show either inbuilt PPI network options or hidden div containing 'Upload Custom network' button and textbox, based on radio button click: */


/* Uploading custom PPI network: */
document.getElementById('uploaded_ppi_network_filename')
                      .addEventListener('change', function() {
                        
                      var fr=new FileReader();
                      fr.onload=function(){
                          document.getElementById('network_contents')
                                  .textContent=fr.result;
                      }
                        
                      fr.readAsText(this.files[0]);
                  })

/* Show div containing 'Upload custom study bias data' button and textbox on selection of value 'Custom' from 'Normalize by' dropdown menu: */
function showDiv(divId, element)
{
    document.getElementById(divId).style.display = element.value == 3 ? 'block' : 'none';
}

function showDiv2(divId1, divId2, element)
{
    document.getElementById(divId1).style.display = element.value == 'COVID-19' ? 'block' : 'none';
    document.getElementById(divId2).style.display = element.value == 'Precocious puberty' ? 'block' : 'none';
}

/* Upload custom study bias data: */
document.getElementById('inputfile_studybiasdata')
                        .addEventListener('change', function() { 
                        var fr=new FileReader();
                        fr.onload=function(){
                            document.getElementById('custom_studybiasdata_contents_textbox')
                                    .textContent=fr.result;
                        } 
                        fr.readAsText(this.files[0]);
                    })



function resetValues(){
            document.getElementById("alpha").value=0.25;
            document.getElementById("alpha_slider").value=0.25;
            document.getElementById("beta").value=0.9;
            document.getElementById("beta_slider").value=0.9;
            document.getElementById("n").value=30;
            document.getElementById("tau").value=0.1;
            document.getElementById("tau_slider").value=0.1;
            document.getElementById("gamma").value=1.00;
            document.getElementById("gamma_slider").value=1.00;
            document.getElementById("textbox_seeds").value = 'TLR4 NLRP3 MBL2 IL6 IL1RN IL1B CX3CR1 CCR5 AGT ACE F2'; // COVID-19 case study
}

function resetValues_pp(){
            document.getElementById("alpha").value=0.25;
            document.getElementById("alpha_slider").value=0.25;
            document.getElementById("beta").value=0.9;
            document.getElementById("beta_slider").value=0.9;
            document.getElementById("n").value=30;
            document.getElementById("tau").value=0.1;
            document.getElementById("tau_slider").value=0.1;
            document.getElementById("gamma").value=1.00;
            document.getElementById("gamma_slider").value=1.00;
            document.getElementById("textbox_seeds").value = 'P63092 P35354 P01229 P01148 Q5JWF2 P84996 O95467 P05019'; // PP case study
}



$(document).on('keydown', 'input[pattern]', function(e){
  var input = $(this);
  var oldVal = input.val();
  var regex = new RegExp(input.attr('pattern'), 'g');
  setTimeout(function(){
    var newVal = input.val();
    if(!regex.test(newVal)){
      input.val(oldVal); 
    }
  }, 1);
});



$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})




function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}





$("#alpha").on("blur", function () {
    if ($(this).val().trim().length == 0) {
        $(this).val("0");
        $("#alpha_slider").val("0");
    }
});
//trigger blur once for the initial setting:
$("#alpha").trigger("blur");

$("#beta").on("blur", function () {
    if ($(this).val().trim().length == 0) {
        $(this).val("0");
        $("#beta_slider").val("0");
    }
});
//trigger blur once for the initial setting:
$("#beta").trigger("blur");

$("#tau").on("blur", function () {
    if ($(this).val().trim().length == 0) {
        $(this).val("0");
        $("#tau_slider").val("0");
    }
});
//trigger blur once for the initial setting:
$("#tau").trigger("blur");

$("#gamma").on("blur", function () {
    if ($(this).val().trim().length == 0) {
        $(this).val("0");
        $("#gamma_slider").val("0");
    }
});
//trigger blur once for the initial setting:
$("#gamma").trigger("blur");


$('[data-toggle="popover"]').popover();

</script>

<!----------------------------------------------------------->

</div>

</div>


<input type='text' id='myValue' hidden/>
<!-- <button id='myButton'>Enqueue</button> -->

<p id='result'></p>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
<script type="text/javascript">
    
const button = document.getElementById('myButton')
const value = document.getElementById('myValue')
const progressbar = document.getElementById('myProgress')

function update_bar(value) {
  progressbar.setAttribute("aria-valuenow", value);
  progressbar.style.width = value + '%';

  // progress bar should have label
  progressbar.innerHTML = value + '%';
}

button.addEventListener('click', function(e) {

  // Reset progress bar incase of re-click.
  update_bar(0);


  fetch(`${window.origin}/enqueue`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      value: value.value
    }),
  }).then((r) => {
    r.json().then((data) => {

      // The job.id returned from the server once enqueued:
      job_id = data['job_id'];

      const source = new EventSource("/progress/" + job_id);
      
      source.onmessage = function(event) {
        const data = JSON.parse(event.data);
        console.log(data);

        update_bar(data['value']);

        if (data['status'] == 'finished') {

          // Manually set progress to 100 when job is finished, as
          // actual progress value may be less from last read.

          update_bar(100);

          source.close();

          // Just write the result which is included in the last streamed item
          // to the page
          document.getElementById('result').textContent = data['result'];
        }
      }

    })
  });

});











var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>


</div>

<!--a href="https://drive.google.com/file/d/1a0StI9mRpXuOgQnfYMXZtPBY0oCbfsDa/view?usp=sharing" download="example-input-data.zip" target="_blank">Download COVID-19 data</a>
<a href="https://drive.google.com/file/d/1gnxg5vgMUCC-3kUTw46y-Lg0SHgIjbA4/view?usp=sharing" download="example-input-data.zip" target="_blank">Download PP data</a-->

<style>
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

  border-radius: 40px;
  background-color: #00008B;
  border: none;
  color: #FFFFFF;
  font-style:normal;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-size:15px;
  width: 250px;
  font-weight: normal;
  position: relative;
  /* Adjust these values accordingly */
  top: 90px;
  right: 205px;
}
</style>
</body>
{% endblock %}